*.xcbkptlist
*.xcbkptlist
myBrowser_UIKit.xcworkspace/xcuserdata/rahulsingh.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store

# Cocoapods
Pods/

*xcworkspace/xcuserdata/*
*/xcuserdata/*
myBrowser_UIKit.xcodeproj/xcuserdata/rahulsingh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/myBrowser_UIKit.xcodeproj/project.xcworkspace/xcuserdata
myBrowser_UIKit.xcodeproj/xcuserdata/rahulsingh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
